<section class="banner" id="banner">
  <div class="container">
    <div class="banner__inner">
      <div class="banner__content-box">
        <div class="banner__title-box">
          <div class="banner__desk-box">
            <p class="banner__desk txt32">Привет!</p>
            <p class="banner__desk banner__desk--bottom txt32">Я <span class="txt_cur">Куловерова Ольга</span> и я</p>
          </div>
          <h1 class="banner__title">
            <span class="banner__title-text tl1" data-text="FRONT-END"> FRONT-END </span>
            <span class="banner__title-text tl1" data-text="РАЗРаБОТЧИК"> РАЗРаБОТЧИК </span>
          </h1>
        </div>

        <a href="#about" class="banner__btn button nav-link">
          <p class="banner__btn-text button__text">Обо мне</p>
          <span class="banner__btn-svg-box button__svg-box">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.85437 1.99976V17.9998M7.85437 17.9998L13.8544 12.222M7.85437 17.9998L1.85437 12.222"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
      </div>
      <div class="banner__programmer-box">
        <div class="banner__programmer-circle-box">
          <div class="banner__programmer-circle banner__programmer-circle--center"></div>
          <div class="banner__programmer-circle banner__programmer-circle--middle"></div>
          <div class="banner__programmer-circle banner__programmer-circle--moving ">
            <div class="banner__programmer-skill-box" style="--i: 0">
              <div class="banner__programmer-skill">
                <img src="./assets/images/html.svg" alt="" />
              </div>
            </div>
            <div class="banner__programmer-skill-box" style="--i: 1">
              <div class="banner__programmer-skill">
                <img src="./assets/images/css.svg" alt="" />
              </div>
            </div>
            <div class="banner__programmer-skill-box" style="--i: 2">
              <div class="banner__programmer-skill">
                <img src="./assets/images/scss.svg" alt="" />
              </div>
            </div>
            <div class="banner__programmer-skill-box" style="--i: 3">
              <div class="banner__programmer-skill">
                <img src="./assets/images/js.svg" alt="" />
              </div>
            </div>
            <div class="banner__programmer-skill-box" style="--i: 4">
              <div class="banner__programmer-skill">
                <img src="./assets/images/jquery.svg" alt="" />
              </div>
            </div>
            <div class="banner__programmer-skill-box" style="--i: 5">
              <div class="banner__programmer-skill">
                <img src="./assets/images/webpack.svg" alt="" />
              </div>
            </div>
            <div class="banner__programmer-skill-box" style="--i: 6">
              <div class="banner__programmer-skill">
                <img src="./assets/images/figma.svg" alt="" />
              </div>
            </div>
            <div class="banner__programmer-skill-box" style="--i: 7">
              <div class="banner__programmer-skill">
                <img src="./assets/images/github.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="banner__programmer-wrapper">
          <img src="./assets/images/programmer.webp" alt="" />
        </div>
      </div>

      <span class="banner__svg banner__svg--left">
        <img src="./assets/images/banner-1.svg" alt="" />
      </span>
      <span class="banner__svg banner__svg--right">
        <img src="./assets/images/banner-2.svg" alt="" />
      </span>
    </div>
  </div>
</section>
