<section class="certificate" id="certificate">
  <div class="container">
    <div class="certificate__inner">
      <h2 class="certificate__title">
        <span class="certificate__title-text tl1" data-text="СертиФикаты">СертиФикаты</span>
        <span class="certificate__title-text tl1" data-text="И навыки">И навыки</span>
      </h2>

      <ul class="certificate__cert-list">
        <li class="certificate__cert-item">
          <p class="certificate__cert-company txt_cur txt_cur-min">FruitCode</p>
          <p class="certificate__cert-title txt24">HTML/CSS</p>
          <a href="./assets/images/html_css.webp" class="certificate__cert-link" data-fancybox="certificates">
            <p class="certificate__cert-link-text txt16">Сертификат</p>
            <div class="certificate__cert-link-svg-box">
              <img src="./assets/images/show.svg" alt="" />
            </div>
          </a>
        </li>
        <li class="certificate__cert-item">
          <p class="certificate__cert-company txt_cur txt_cur-min">Udemy</p>
          <p class="certificate__cert-title txt24">JavaScript - Полный Курс по JavaScript</p>
          <a href="./assets/images/javaScript.webp" class="certificate__cert-link" data-fancybox="certificates">
            <p class="certificate__cert-link-text txt16">Сертификат</p>
            <div class="certificate__cert-link-svg-box">
              <img src="./assets/images/show.svg" alt="" />
            </div>
          </a>
        </li>
        <li class="certificate__cert-item">
          <p class="certificate__cert-company txt_cur txt_cur-min">Udemy</p>
          <p class="certificate__cert-title txt24">Полный курс по JavaScript - с нуля до результата</p>
          <div class="certificate__cert-link">
            <p class="certificate__cert-link-text txt16">В процессе прохождения</p>
          </div>
        </li>
      </ul>

      <ul class="certificate__skill-list">
        <li class="certificate__skill-item certificate__skill-item--border txt24">HTML</li>
        <li class="certificate__skill-item certificate__skill-item--border txt24">CSS</li>
        <li class="certificate__skill-item certificate__skill-item--bg txt24">SCSS</li>
        <li class="certificate__skill-item certificate__skill-item--border txt24">JavaScript</li>
        <li class="certificate__skill-item certificate__skill-item--bg txt24">JQuery</li>
        <li class="certificate__skill-item certificate__skill-item--border txt24">Responsive</li>
        <li class="certificate__skill-item certificate__skill-item--bg txt24">БЭМ</li>
        <li class="certificate__skill-item certificate__skill-item--border txt24">GITHUB</li>
        <li class="certificate__skill-item certificate__skill-item--bg txt24">Figma</li>
        <li class="certificate__skill-item certificate__skill-item--bg txt24">WEBPACK</li>
        <li class="certificate__skill-item certificate__skill-item--border txt24">GULP</li>
        <li class="certificate__skill-item certificate__skill-item--bg txt24">GSAP</li>
      </ul>

      <div class="certificate__btn-box">
        <div class="certificate__btn-svg">
          <img src="./assets/images/banner-1.svg" alt="" />
        </div>
        <a href="#works" class="certificate__btn button nav-link">
          <p class="certificate__btn-text button__text">Работы</p>
          <span class="certificate__btn-svg-box button__svg-box">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.85437 1.99976V17.9998M7.85437 17.9998L13.8544 12.222M7.85437 17.9998L1.85437 12.222"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
