<section class="experience" id="exp">
  <div class="container">
    <div class="experience__inner">
      <h2 class="experience__title">
        <span class="experience__title-text tl1" data-text="Опыт"> Опыт </span>
      </h2>
      <ul class="experience__list">
        <li class="experience__item">
          <div class="experience__content-wrapper">
            <div class="experience__content-box">
              <p class="experience__date txt20 txt20_semibold">Сентябрь 2023 — Август 2024</p>

              <div class="experience__text-box">
                <div class="experience__point-box">
                  <div class="experience__point-border"></div>
                  <div class="experience__point"></div>
                </div>

                <div class="experience__line-box">
                  <div class="experience__line"></div>
                </div>
                <div class="experience__arrow-box">
                  <div class="experience__arrow"></div>
                </div>
                <div class="experience__title-box">
                  <p class="experience__company txt_cur">Request Design</p>
                  <p class="experience__position txt40">Веб-разработчик</p>
                </div>
                <ul class="experience__text-list">
                  <li class="experience__text-item txt20">
                     Кроссбраузерная, адаптивная верстка сайтов различной сложности по макетам из Figma.
                  </li>
                  <li class="experience__text-item txt20">
                    Создание анимации с помощью CSS и различных библиотек (jQuery, swiperJS, noUiSlider, gsap).
                  </li>
                  <li class="experience__text-item txt20">
                    Разработка проектов как индивидуально, так и в команде используя GitHub.
                  </li>
                  <li class="experience__text-item txt20">
                    Работа с чужим кодом, внесение правок в готовые проекты и доработка частично реализованных проектов.
                  </li>
                  <li class="experience__text-item txt20">Работа с ftp сервером.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="experience__img-box">
            <img src="./assets/images/exp1.svg" alt="" />
          </div>
        </li>
        <li class="experience__item">
          <div class="experience__content-wrapper">
            <div class="experience__content-box">
              <p class="experience__date txt20 txt20_semibold">Февраль 2023 — Сентябрь 2023</p>

              <div class="experience__text-box">
                <div class="experience__point-box">
                  <div class="experience__point-border"></div>
                  <div class="experience__point"></div>
                </div>
                <div class="experience__line-box">
                  <div class="experience__line"></div>
                </div>
                <div class="experience__arrow-box">
                  <div class="experience__arrow"></div>
                </div>
                <div class="experience__title-box">
                  <p class="experience__company txt_cur">Частная практика</p>
                  <p class="experience__position txt40">Фриланс</p>
                </div>
                <ul class="experience__text-list">
                  <li class="experience__text-item txt20">
                    Создание веб-сайтов, с акцентом на семантической верстке, интеграцией слайдеров, модальных окон,
                    форм и анимаций;
                  </li>
                  <li class="experience__text-item txt20">
                    Разработка валидной, адаптивной и кроссбраузерной верстки, чтобы обеспечить корректное отображение
                    на различных устройствах и в разных браузерах;
                  </li>
                  <li class="experience__text-item txt20">
                    Использование препроцессора SCSS для более эффективной работы с CSS;
                  </li>
                  <li class="experience__text-item txt20">
                    Работа с JavaScript для реализации интерактивных элементов и функциональности на веб-сайтах;
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="experience__img-box">
            <img src="./assets/images/exp2.svg" alt="" />
          </div>
        </li>

        <li class="experience__item">
          <div class="experience__content-wrapper">
            <div class="experience__content-box">
              <p class="experience__date txt20 txt20_semibold">Август 2020 — Февраль 2023</p>

              <div class="experience__text-box">
                <div class="experience__point-box">
                  <div class="experience__point-border"></div>
                  <div class="experience__point"></div>
                </div>
                <div class="experience__line-box">
                  <div class="experience__line"></div>
                </div>
                <div class="experience__arrow-box">
                  <div class="experience__arrow"></div>
                </div>
                <div class="experience__title-box">
                  <p class="experience__company txt_cur">Fix Price</p>
                  <p class="experience__position txt40">Специалист по персоналу</p>
                </div>
                <ul class="experience__text-list">
                  <li class="experience__text-item txt20">Ведение кадрового делопроизводства;</li>
                  <li class="experience__text-item txt20">Приемы, переводы, увольнения;</li>
                  <li class="experience__text-item txt20">Формирование и ведение личных дел;</li>
                  <li class="experience__text-item txt20">Ведение и закрытие табеля учета рабочего времени.</li>
                  <li class="experience__text-item txt20">Работа с ftp сервером.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="experience__img-box">
            <img src="./assets/images/exp3.svg" alt="" />
          </div>
          <a href="#certificate" class="experience__btn button nav-link">
            <p class="experience__btn-text button__text">Сертификаты и навыки</p>
            <span class="experience__btn-svg-box button__svg-box">
              <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.85437 1.99976V17.9998M7.85437 17.9998L13.8544 12.222M7.85437 17.9998L1.85437 12.222"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
