<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__mob-wrapper">
        <a href="#banner" class="header__portfolio txt22 txt22-caps nav-link">Портфолио</a>
        <button class="burger">
          <div class="burger__svg-box unActive">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8 13H22.5833M8 19.6667H31.3333M16.75 26.3333H31.3333"
                stroke="#393C43"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="burger__svg-box isActive">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M32.6845 29.5334C33.1009 29.953 33.3345 30.5201 33.3345 31.1112C33.3345 31.7023 33.1009 32.2694 32.6845 32.689C32.2633 33.1021 31.6968 33.3335 31.1068 33.3335C30.5167 33.3335 29.9502 33.1021 29.529 32.689L20.0001 23.1556L10.4712 32.689C10.0499 33.1021 9.48346 33.3335 8.89342 33.3335C8.30339 33.3335 7.7369 33.1021 7.31565 32.689C6.89931 32.2694 6.66568 31.7023 6.66568 31.1112C6.66568 30.5201 6.89931 29.953 7.31565 29.5334L16.8445 20.0001L7.31565 10.4712C6.89719 10.0527 6.66211 9.48521 6.66211 8.89342C6.66211 8.30164 6.89719 7.7341 7.31565 7.31565C7.7341 6.89719 8.30164 6.66211 8.89342 6.66211C9.48521 6.66211 10.0527 6.89719 10.4712 7.31565L20.0001 16.849L29.529 7.31565C29.9474 6.89719 30.515 6.66211 31.1068 6.66211C31.6985 6.66211 32.2661 6.89719 32.6845 7.31565C33.103 7.7341 33.3381 8.30164 33.3381 8.89342C33.3381 9.48521 33.103 10.0527 32.6845 10.4712L23.1512 20.0001L32.6845 29.5334Z"
                fill="#393C43"
              />
            </svg>
          </div>
        </button>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <div class="header__nav-link-wrapper">
              <a class="header__nav-link nav-link txt22" href="#about" data-hover="Обо мне">Обо мне</a>
            </div>
          </li>
          <li class="header__nav-item">
            <div class="header__nav-link-wrapper">
              <a class="header__nav-link nav-link txt22" href="#exp" data-hover="Опыт">Опыт</a>
            </div>
          </li>
          <li class="header__nav-item">
            <div class="header__nav-link-wrapper">
              <a class="header__nav-link nav-link txt22" href="#certificate" data-hover="Сертификаты и навыки"
                >Сертификаты и навыки</a
              >
            </div>
          </li>
          <li class="header__nav-item">
            <div class="header__nav-link-wrapper">
              <a class="header__nav-link nav-link txt22" href="#works" data-hover="Работы">Работы</a>
            </div>
          </li>
          <li class="header__nav-item">
            <div class="header__nav-link-wrapper">
              <a class="header__nav-link nav-link txt22" href="#contacts" data-hover="Контакты">Контакты</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
