<section class="works" id="works">
  <div class="container">
    <div class="works__inner">
      <h2 class="works__title">
        <span class="works__title-text tl1" data-text="Мои работы"> Мои работы </span>
      </h2>

      <div class="works__img-box">
        <div class="works__bg-box">
          <img src="./assets/images/works-bg.svg" alt="" />
        </div>

        <div class="works__works-swiper-box">
          <div class="works__works-swiper swiper">
            <div class="works__works-swiper-wrapper swiper-wrapper">
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/megmeet.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/megmeet-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/Bivertex.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/Bivertex-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/RAPEH_STORE.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/RAPEH_STORE-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a href="./assets/images/works/Rustil.webp" class="works__works-swiper-img-box" data-fancybox="works">
                    <img src="./assets/images/works/Rustil-min.webp" alt="" />
                  </a>
                </div>
              </div>

              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/IvanSavelitch.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/IvanSavelitch-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/EcoFitness.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/EcoFitness-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/ProfKrol.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/ProfKrol-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a href="./assets/images/works/runo.webp" class="works__works-swiper-img-box" data-fancybox="works">
                    <img src="./assets/images/works/runo-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/Rout-Catering.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/Rout-Catering-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a href="./assets/images/works/Food.webp" class="works__works-swiper-img-box" data-fancybox="works">
                    <img src="./assets/images/works/Food-min.webp" alt="" />
                  </a>
                </div>
              </div>
              <div class="works__works-swiper-slide swiper-slide">
                <div class="works__works-swiper-slide-inner">
                  <a
                    href="./assets/images/works/mentalHealth.webp"
                    class="works__works-swiper-img-box"
                    data-fancybox="works"
                  >
                    <img src="./assets/images/works/mentalHealth-min.webp" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="works__demo-swiper-box">
          <div class="works__demo-swiper swiper">
            <div class="works__demo-swiper-wrapper swiper-wrapper">
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/megmeet/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/Bivertex/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/RAPEH.STORE/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://astasiag.github.io/Rustil/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>

              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/IvanSavelitch/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/EcoFitness/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/ProfKrol/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>

              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/runo/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>

              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/Rout-Catering/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/Food/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
              <div class="works__demo-swiper-slide swiper-slide">
                <a
                  href="https://kuloverovaolga.github.io/mentalHealth/dist/"
                  class="works__demo-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__demo-swiper-text txt40">Demo</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="works__www-swiper-box">
          <div class="works__www-swiper swiper">
            <div class="works__www-swiper-wrapper swiper-wrapper">
              <div class="works__www-swiper-slide swiper-slide">
                <a
                  href="https://mgt-rus.ru"
                  class="works__www-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__www-swiper-text txt40">Сайт</p>
                </a>
              </div>
              <div class="works__www-swiper-slide swiper-slide">
                <a
                  href="https://beavertech.ru"
                  class="works__www-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__www-swiper-text txt40">Сайт</p>
                </a>
              </div>
              <div class="works__www-swiper-slide swiper-slide">
                <a
                  href="https://www.sacreds.ru"
                  class="works__www-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__www-swiper-text txt40">Сайт</p>
                </a>
              </div>
              <div class="works__www-swiper-slide swiper-slide">
                <a
                  href="https://www.germetic-rus.ru"
                  class="works__www-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__www-swiper-text txt40">Сайт</p>
                </a>
              </div>

              <div class="works__www-swiper-slide swiper-slide"></div>
              <div class="works__www-swiper-slide swiper-slide"></div>
              <div class="works__www-swiper-slide swiper-slide"></div>
              <div class="works__www-swiper-slide swiper-slide"></div>
              <div class="works__www-swiper-slide swiper-slide"></div>
              <div class="works__www-swiper-slide swiper-slide"></div>
              <div class="works__www-swiper-slide swiper-slide"></div>
            </div>
          </div>
        </div>

        <div class="works__git-swiper-box">
          <div class="works__git-swiper swiper">
            <div class="works__git-swiper-wrapper swiper-wrapper">
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/megmeet"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/Bivertex"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/RAPEH.STORE"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href=" https://github.com/KuloverovaOlga/Germetic"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/IvanSavelitch"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/EcoFitness"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/ProfKrol"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>

              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/runo"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>

              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/Rout-Catering"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/Food"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
              <div class="works__git-swiper-slide swiper-slide">
                <a
                  href="https://github.com/KuloverovaOlga/mentalHealth"
                  class="works__git-swiper-slide-inner link"
                  target="_blank"
                >
                  <p class="works__git-swiper-text txt40">GitHub</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="works__content-box">
        <div class="works__title-swiper-box">
          <div class="works__title-swiper swiper">
            <div class="works__title-swiper-wrapper swiper-wrapper">
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">MGT</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Бивертех</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Sacreds</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Rustil</p>
                </div>
              </div>

              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Иван Савелич</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Eco Fitness</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">ПрофиКроль</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Руно</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Rout-Catering</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Корпоративное питание</p>
                </div>
              </div>
              <div class="works__title-swiper-slide swiper-slide">
                <div class="works__title-swiper-slide-inner">
                  <p class="works__title-swiper-text txt_cur txt_cur-big">Mental Health</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="works__desc-swiper-box">
          <div class="works__desc-swiper swiper">
            <div class="works__desc-swiper-wrapper swiper-wrapper">
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Интернет магазин продажи сварочного оборудования. Собран с помощью Webpack по макету Figma.
                    Адаптирован под различные устройства. Анимирован с помощью библиотек wow js, animate css, gsap.
                    Реализованно выпадающее меню, добавлен интересный ховер эффект кнопкам, использована библиотека
                    fancybox для визуализации изображений
                  </p>
                </div>
              </div>
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Интернет магазин продажи станков ЧПУ. Собран с помощью Webpack по макету Figma. Адаптирован под
                    различные устройства. Реализованны: выпадающее меню, слайдеры, табы, модальные окна. Добавлена форма
                    обратной связи, Использована библиотека fancybox для визуализации втде и изображений. На некоторых
                    страницых добавлена анимация gsap.
                  </p>
                </div>
              </div>
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Интернет магазин по продаже чая. Собран с помощью Webpack по макету Figma. Адаптирован под различные
                    устройства. Реализованны: слайдеры с интересными визуальными эффектами, табы, аккордеон, модальные
                    окна, механика сокращения текста с кнопкой “показать еще”. Использована библиотека fancybox для
                    визуализации отзывов покупателей. Добавлена форма обратной связи и инфинити блок.
                  </p>
                </div>
              </div>
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Интернет магазин продажи герметиков. Собран с помощью Webpack по макету Figma. Адаптирован под
                    различные устройства. Реализованны: слайдеры, модальные окна, форма обратной связи. Использовалась
                    библиотека fancybox для визуализации отзывов потребителей.
                  </p>
                </div>
              </div>

              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Интренет магазин по продаже мороженного. Сайт собран с помощью Webpack по макету Figma. Адаптирован
                    под различные устройства. Некоторые страницы анимированы с помощью библиотек fullpage js и gsap.
                    Реализован прелоадер, модальные окна формы обратной связи и входа в личный кабинет, а также
                    различные слайдеры.
                  </p>
                </div>
              </div>
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Сайт фитнес студии. Собран с помощью Webpack по макету Figma. Адаптирован под различные устройства.
                    Форма обратной связи, аккордеон, модальные окна, анимации слайдеров, добавлена карта.
                  </p>
                </div>
              </div>
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Сайт компании по производству продукции из натурального мяса кролика. Собран с помощью Webpack по
                    макету Figma. Адаптирован под различные устройства. добавлена форма обратной связи, аккордеон,
                    модальные окна, слайдеры, выпадающее меню и карта.
                  </p>
                </div>
              </div>

              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Сайт компании по установке натяжных потолков. Собран с помощью Webpack по макету Figma. Адаптирован
                    под различные устройства. Реализованны: выпадающее меню, слайдеры с интересными визуальными
                    эффектами, виджет, табы, аккордеон, модальные окна, механика сокращения текста с кнопкой “показать
                    еще”. Добавлена форма обратной связи.
                  </p>
                </div>
              </div>

              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Сайт компании по предоставлению корпоративного питания. Собран с помощью Webpack по макету Figma.
                    Адаптирован под различные устройства. Реализованны: слайдеры, модальные окна, форма обратной связи.
                    Использована библиотека fancybox для визуализации изображений.
                  </p>
                </div>
              </div>
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Сайт компании по предоставлению корпоративного питания. Собран с помощью Webpack по макету Figma.
                    Адаптирован под различные устройства. Реализованны: табы, слайдеры, модальные окна, форма обратной
                    связи. Использовалась библиотека circletype js для закругления текста. Реализована нестандартная
                    стилизация названий блоков.
                  </p>
                </div>
              </div>
              <div class="works__desc-swiper-slide swiper-slide">
                <div class="works__desc-swiper-slide-inner">
                  <p class="works__desc-swiper-text txt24">
                    Сайт компании по предоставлению психологической помощи. Собран с помощью Webpack по макету Figma.
                    Адаптирован под различные устройства. Сайт анимирован с помощью библиотек gsap, wow js и animate
                    css. Реализованны: аккордеон, табы, слайдеры, модальные окна, форма обратной связи.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <span class="works__svg">
          <img src="./assets/images/banner-2.svg" alt="" />
        </span>
      </div>

      <div class="works__swiper-btn-box">
        <div class="works__swiper-btn works__swiper-btn--prev swiper-btn swiper-button-prev">
          <div class="swiper-btn__svg-box">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                fill="#393C43"
              />
              <path
                d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="works__swiper-btn works__swiper-btn--next swiper-btn swiper-button-next">
          <div class="swiper-btn__svg-box">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                fill="#393C43"
              />
              <path
                d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="works__btn-box">
        <a href="https://github.com/KuloverovaOlga" class="works__link button-shadow">
          <p class="works__link-text button-shadow__text">Больше работ</p>
          <span class="works__link-svg-box button-shadow__svg-box">
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.91357 1.5V6.5M6.91357 6.5H11.9136M6.91357 6.5H1.91357M6.91357 6.5V11.5"
                stroke="#339371"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
        <a href="#contacts" class="works__btn button nav-link">
          <p class="works__btn-text button__text">Контакты</p>
          <span class="works__btn-svg-box button__svg-box">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.85437 1.99976V17.9998M7.85437 17.9998L13.8544 12.222M7.85437 17.9998L1.85437 12.222"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
