// Colors
$bodyBg: #9f9f9f;
$bodyBg: #1f1e1e;
$mainTextColor: #b3b3b3;
$preloaderBgColor: #474747;
$mainColor: #00df9c;
$heroColor: #fff;
$btnColor: #000;
$btnBoxShadow: #00ff8099;
$animTextShadow: #1ffab880;
$svgColor: #d1d1d1;
$photoBorder: #5f5f5f;
$photoBorderShadow: #4b695e66;
$photoSecondBorderShadow: #1cd18f66;
$slideBg: #484848;
$slideColor: #d6d6d6;

// fonts
$mainFont: 'Jura', sans-serif;
$secondFont: 'Jost', sans-serif;
